*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', Arial;

}


body{
    padding-top:100px;
    min-width: 1500px;
}

.header {
    height:100px;
    display: flex;
    text-align: center;
    color: #ffffff;
    position:fixed;
    left:0;
    right:0;
    top:0;
}

.header-img {
    display:flex;
    align-items: center;
    width: 300px;
    background:linear-gradient(to right, #3e79bb 0%, #0b4d93 500%);

}

.prezes-img {
    height:80px;
    margin-left:30px;

}

.flaga-img{
    height:80px;
    margin-left:30px;
}

.header-log-in-info{
    flex: 0.2;
    background: #0b4d93;

}

.log-in-info-text{
    color: white;
    padding: 10px;


}

.header-text {
    flex: 1;
    padding-right: 300px;
    background: #0b4d93;
}

.top-header-text{
    padding: 10px;
    font-weight: bold;

}

.bottom-header-text {
    color: #ff3434;
    font-style: italic;

}



.post-space{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    left:300px;
    right:300px;
    bottom:22px;
    top:100px;
    padding:20px;
    background-color: #ffe9ed;
    overflow: auto;
    border: 3px solid #1f1c91;
}

.post{
    display: flex;
    flex-direction: column;



}

.post-title-div{
    height:25px;
    background-color: #0b4d93;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #b3b3d7;
    border-radius: 4px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 5px;

}

.post-title-p{
    font-size:16px;
    font-weight: bold;
    color: #ffffff;


}

.post-text-div{
    background-color: #eeeef3;
    border: 4px solid #b3b3d7;
    border-radius: 4px;
    margin-bottom: 20px;


}


.o-mnie-container{
    background:linear-gradient(to right, #3e79bb 0%, #0b4d93 500%);
    position: fixed;
    right:0;
    top:100px;
    bottom:22px;
    width:310px;
    border: 3px solid #1f1c91;
    overflow: auto;

}

.o-mnie-text{
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.o-mnie-text-title{
    /*border: 3px solid #ff3434;*/
    /*border-radius: 3px;*/
    background-color: #0b4d93;
    color: white;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    padding: 2px 10px;
    margin-bottom: 5px;

}

.o-mnie-text-p{
    font-size:16px;
    color: white;

}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff3434;
    color: white;
    font-size:16px;
    text-align: center;
}

.pagination-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-action{
    margin-bottom: 20px;
    text-decoration: none;
    background-color: darkred;
    color: white;
    width: fit-content;
    padding: 8px;
}

.post-manipulation{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
}